.login-modal {
    max-width: 400px;
    background: #222222;
    box-shadow: 0 4px 20px black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 3rem auto;
    padding: 1rem 1.4rem;
}

.login-image-container {
    height: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 50%;
    border: 2px solid rgb(121, 179, 223, 0.8);
}

.login-modal img {
    max-width: 100%;
    border-radius: 50%;
    border: 2px solid rgb(121, 179, 223);
}

.note {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

label {
    color: rgb(121, 179, 223);
    font-size: 1.2rem;
    font-weight: bold;
}

input {
    position: relative;
    font-size: 1.1rem;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    outline: none;
    border: none;
    margin: 1rem 0;
}

input:focus {
    box-shadow: -5px 5px 0 rgb(121, 179, 223);
    top: -5px;
    left: 5px;
    transition: 0.3s ease;
}

.login-btn {
    position: relative;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    border: none;
    margin-top: 0.5rem;
}

.login-btn:hover {
    box-shadow: 0 5px 0 rgb(121, 179, 223);
    top: -5px;
    transition: 0.3s ease;
}

.login-btn:active {
    top: -2px;
    box-shadow: 0 2px 0 rgb(121, 179, 223);
}

.login-btn:disabled,
.login-btn:disabled:hover {
    background: rgb(85, 85, 85);
    box-shadow: none;
    top: 0;
    left: 0;
}