nav {
  min-height: 70px;
  background: #2e2e4d;
  color: white;
  box-shadow: 0 0 10px #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.nav-link {
  color: white;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  border-radius: 10px;
  border: 2px solid transparent;
  padding: 0.35rem 0.6rem;
  text-decoration: none;
  font-size: 1.15rem;
  transition: 0.25s ease;
}

.nav-link:hover {
  border-color: #eeeeee;
}