.all-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}

.posts {
    width: 90%;
    display: flex;
    align-items: center;
    overflow: auto;
    padding: 3rem;
    margin-top: 3rem;
}

.post-link {
    transition: 0.3s ease;
}

.post-link:not(:first-child) {
    margin-left: -280px;
}

.post-link:hover ~ .post-link {
    transform: translateX(180px);
}

.post-thumbnail {
    position: relative;
    width: 500px;
    background: #222222;
    color: white;
    border: 1px solid transparent;
    box-shadow: -1rem 0 2rem rgb(0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    transition: 0.3s ease;
}

.post-thumbnail:hover {
    transform: translateY(-1.5rem);
    border: 1px solid rgb(148, 184, 212);
}

.post-thumbnail img {
    max-width: 100%;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, #000203 5%, rgba(36, 39, 41, 0.4) 30%, rgba(36, 39, 41, 0) 70%), linear-gradient(35deg, #010a13 10%, rgba(36, 39, 41, 0) 40%);
    z-index: 0;
}

.thumbnail-title {
    font-size: 1.3rem;
    font-weight: bold;
    position: absolute;
    bottom: 1.05rem;
    left: 1.4rem;
    z-index: 1;
}

@media(max-width: 1300px) {
    .all-posts {
        padding: 1.5rem 4rem;
    }

    .posts {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        justify-items: center;
        gap: 2rem;
        margin-top: 0;
    }

    .post-link:not(:first-child) {
        margin-left: 0;
    }
    
    .post-link:hover ~ .post-link {
        transform: translateX(0);
    }

    .post-thumbnail {
        max-width: 100%;
        box-shadow: 0 5px 10px 2px #0f0f0f;
    }

    .post-thumbnail:hover {
        transform: translateY(0);
    }

    .post-info {
        padding: 0.8rem 0.4rem;
    }
}