.all-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}

.posts {
    width: 90%;
    display: flex;
    align-items: center;
    overflow: auto;
    padding: 3rem;
    margin-top: 1rem;
}

.post-link {
    transition: 0.3s ease;
}

.post-link:not(:first-child) {
    margin-left: -280px;
}

.post-link:hover ~ .post-link {
    transform: translateX(180px);
}

@media(max-width: 1300px) {
    .all-posts {
        padding: 1.5rem 4rem;
    }

    .posts {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 2rem;
        margin-top: 0;
    }

    .post-link:not(:first-child) {
        margin-left: 0;
    }
    
    .post-link:hover ~ .post-link {
        transform: translateX(0);
    }
}

@media(max-width: 970px) {
    .posts {
        display: flex;
        flex-direction: column;
    }
}