.post-detail-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.post-detail-container img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: -1;
}

.post-detail,
.comments {
    width: 85%;
    background: rgb(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    padding: 1.2rem 1.8rem;
}

.post-detail  {
    text-align: center;
}

.post-detail h2,
.comments h2 {
    color: black;
}

.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment {
    display: flex;
    flex-direction: column;
}

.comment p:first-child {
    font-weight: bold;
}

.no-comments {
    font-size: 1.3rem;
    font-weight: bold;
}