.post-detail-container {
    position: relative;
    display: grid;
    grid-template: auto 1fr / 2.5fr 1fr;
    gap: 1rem;
    padding: 1.5rem;
    opacity: 0;
    transform: translateX(20px);
    animation: fadeIn 0.3s ease forwards;
}

.post-detail,
.comments,
.add-comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1.2rem 1.8rem;
}

.post-detail,
.comments-section {
    color: white;
    border-radius: 5px;
}

.post-detail  {
    text-align: center;
    background: #222222;
    box-shadow: 0 5px 10px 2px #0f0f0f;
    z-index: 1;
}

.post-image {
    max-width: 70%;
}

.post-image img {
    max-width: 100%;
    border-radius: 5px;
}

.post-detail p {
    font-size: 1.2rem;
}

.comments-section {
    grid-area: 2 / 1 / 3 / 2;
    background: #222222;
    box-shadow: 0 5px 10px 2px #0f0f0f;
    border-radius: 5px;
    padding: 0 1rem;
}

.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #666666;
}

.comment {
    display: flex;
    flex-direction: column;
}

.comment p:first-child {
    font-weight: bold;
    font-size: 1.2rem;
}

.comment p:not(:first-child) {
    font-size: 1.1rem;
}

.no-comments {
    font-size: 1.3rem;
    font-weight: bold;
}

.add-comment-container form {
    max-width: 40%;
}

.add-comment-btn {
    position: relative;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    border: none;
    margin-top: 0.5rem;
}

.add-comment-btn:hover {
    box-shadow: 0 5px 0 rgb(121, 179, 223);
    top: -5px;
    transition: 0.3s ease;
}

.add-comment-btn:active {
    top: -2px;
    box-shadow: 0 2px 0 rgb(121, 179, 223);
}

.add-comment-btn:disabled,
.add-comment-btn:disabled:hover {
    background: rgb(85, 85, 85);
    box-shadow: none;
    top: 0;
    left: 0;
}

.suggested-posts {
    grid-area: 1 / 2 / 2 / 3;
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.loader-box {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 1000px) {
    .add-comment-container {
        width: 85%;
    }
}